

<% provide(:title, 'New Account') %>
<h1>User#new</h1>
<p>Find me in app/views/user/new.html.erb</p>
<% link_to "<< Back to Home Page", root_path %>

<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <%= form_for(@trainer) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control'%>


      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control'%>
      
      <%= f.label :password %>
      <%= f.email_field :password, class: 'form-control'%>
      <br/><br/>
      <%= f.submit "Create Account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
  
