<h1>User#show</h1>

<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<p>Find me in app/views/user/show.html.erb</p>
<p>User Name:<%= @user.name %></p>
<p>User Email:<%= @user.email %></p>
<p>User ID:<%= @user.id %></p>